body {
    padding: 10px;
}

.welcome {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    min-width: 550px;
}

table {
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

#search {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    left: 310px;
}